{% macro docs_navigation(page, current_section) %}
<div class="docs-navigation d-flex justify-content-between">
  {% if page.lower %}
    <a href="{{ page.lower.permalink }}">
      <div class="card my-1">
        <div class="card-body py-2">
          &larr; {{ page.lower.title }}
        </div>
      </div>
    </a>
  {% endif %}
  {% if page.higher %}
    <a class="ms-auto" href="{{ page.higher.permalink }}">
      <div class="card my-1">
        <div class="card-body py-2">
          {{ page.higher.title }} &rarr;
        </div>
      </div>
    </a>
  {% endif %}
</div>
{% endmacro %}
